<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Web App</title>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

      <div id="chatbox">

      </div>
    <ul class="pages">
        <li class="chat page">
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here..." />
        </li>

        <li class="sidenav">
            <ul class="ou">
                <li class="user-me" style="color:deeppink">
                </li>
                <li>

                </li>
                <li class="userheader" style="color:green">
                    Online Users :
                </li>
            </ul>
            <ul class="ou ab" id="current-users">
                <li>All Users</li>
            </ul>
        </li>
    </ul>

    <ul id="chatrequests">
    </ul>



    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/chatmain.js"></script>

</body>

</html>
